profiles {
  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    singularity.cacheDir   = "${HOME}/singularity_containers"
    docker.enabled         = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
  }

  sap {
    singularity.enabled     = true
    singularity.autoMounts  = true
    singularity.cacheDir    = "${HOME}/singularity_containers"
    conda.enabled = true
    conda.cacheDir = "${HOME}/conda_envs"
    params {
      outdir         = "results"
      fastq_dir_raw  = "${params.outdir}/sra_download/fastq"
      fastq_dir_trim = "${params.outdir}/sra_download/fastp"
      asm_outdir     = "${params.outdir}/assembly"
      threads        = 4
      mem_gb         = 8
      enable_spades  = true
      enable_velvet  = false
    }
}
}

process {
  shell = ['/bin/bash','-euo','pipefail']
  withName: Spades {
        errorStrategy = 'finish'   
        maxRetries    = 1
      }
  withName: Velvet {
       errorStrategy = 'finish'
       maxRetries    = 1
  }
}
 
params {
  outdir      = "results/sra_download"
  file        = "accessions.txt"
  accession   = null
  with_fastqc = true
  with_stats  = true

  cut_window_size  = 10
  cut_mean_quality = 20
  length_required  = 36
  average_qual     = 20


  enable_spades  = true
  enable_velvet  = false
  enable_multiqc = false
  enable_quast = true

  threads = 4
  mem_gb  = 8
  asm_outdir = "results/assembly"

}